<ion-modal-view >
  <ion-header-bar class="bar-dark">
    <h1 class="title">Ajuda</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content class="backSide">
    <div class="card" >
      <div class="item item-divider item-dark">
        Mesagem enviado
      </div>          
      <div class="item item-text-wrap">
        <p text-align:"center">O voso mesagem foi enviado para o service client</p>
        <br/>
      </div>
      <div class="buttons">
        <button class="button button-large row responsive-sm button-ajuda" ng-click="closeLogin()">
        Ok
        </button>
      </div>
    </div>
    
  </ion-content>
</ion-modal-view>
