<ion-modal-view >
  <ion-header-bar>
    <h1 class="title">Mesagem enviado</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h4 class="dark">
    <div class="row">
    <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
          <p text-align:"center">O voso mesagem foi enviado para o service client</p>
      </div>
      <div class="col"></div>
    </div>
    </br>
    </h4>
    <div class="row">
    <div class="col"></div>
    </div>
    <div class="row">
    <div class="col"></div>
    </div>
    <div class="buttons">
      <button class="button button-positive button-large row responsive-sm" ng-click="closeLogin()">
      <h4 class="stable">ok </h4>
      </button>
    </div>
  </ion-content>
</ion-modal-view>
